name: Build Executables

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pyinstaller pandas matplotlib radioactivedecay Pillow
      shell: bash

    - name: Build executable
      run: |
        rm -rf dist build __pycache__ *.spec
        if [[ "$RUNNER_OS" == "Windows" ]]; then
          pyinstaller --onefile --windowed --add-data "Utility/Modules;Utility/Modules" --add-data "Data;Data" --additional-hooks-dir=hooks script.py
        else
          pyinstaller --onefile --windowed --add-data "Utility/Modules:Utility/Modules" --add-data "Data:Data" --additional-hooks-dir=hooks script.py
        fi
      shell: bash

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: myapp-${{ runner.os }}
        path: dist/*